<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Music-all</title>
  </head>
  <body>
      <header>
        <div class="MainMenu">
          <div class="col1">
            <img src="models/logo.jpg" alt="Logo du site" width="238" height="153">
          </div>
          <div class="col2">
            <div class="ligne1">
              <span class="headerBtnSep">|</span>
              <a class="lienHome" href=""><span>Accueil</span></a>
            </div>
            <div class="ligne2">
              <h1>Music-all</h1>
            </div>
          </div>
        </div>

      </header>

  </body>
</html>
